
          <div class="form-group">
            <label class="font600">Survey name</label>
            <input type="text" class="form-control" placeholder="Enter the name of the survey" [(ngModel)]="newSurvey.surveyName" name="{{newSurvey.surveyName}}">
          </div>
          <div class="form-group">
            <label class="font600">What is this survey about ?</label>
            <textarea class="form-control" placeholder="Description of survey" [(ngModel)]="newSurvey.surveyDesc" name="{{newSurvey.surveyDesc}}"></textarea>
          </div>
          <hr>
          <table class="table table-striped table-bordered questions-table">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of questionsArray; let i = index">
                        <td style="width: 60%">
                            <input [(ngModel)]="field.question" class="form-control" type="text" name="{{field.question}}" />
                        </td>
                        <td style="width: 20%">
                            <select (change)="openModal(field)" [(ngModel)]="field.questiontype" class="form-control" name="{{field.questionType}}" >
                                <option value="0" selected="selected">--Select--</option>
                                <option value="1">Y/N</option>
                                <option value="2">Multiple option</option>
                                <option value="3">Multiple Answer</option>
                                <option value="4">Text</option>
                            </select>
                        </td>
                        <td style="width: 20%">
                            <button class="btn btn-default"  type="button" (click)="deleteQuestion(i)">D</button>
                            
                            <button *ngIf="i == (questionsArray.length-1)" style="margin-left: 10px" class="btn btn-default" type="button" (click)="addQuestion()">A</button>
                            <button *ngIf="(field.questiontype==2 || field.questiontype==3) && field.questionOptions.length>0 " style="margin-left: 10px" class="btn btn-default" (click)="reviewOptions(field)" type="button">SO</button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>

    <div id="submitSurvey">
        <input type="button" class="btn submitSurveyButton" value="Create Survey" (click)="createSurvey();"/>
    </div>

            <jw-modal id="custom-modal-2" style="display: none">
                    <div class="form-group">
                        <label >{{question.question}}</label>
                      </div>
                      <hr>
                      <table class="table table-striped table-bordered questions-table">
                            <thead>
                                <tr>
                                    <th>SNo</th>
                                    <th>Option</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let field of optionsArray; let i = index">
                                    <td>
                                        <label>{{i + 1}}</label>
                                    </td>
                                    <td style="width: 60%">
                                        <input [(ngModel)]="field.optionvalue" class="form-control" type="text" name="{{field.option}}"/>
                                    </td>
                                    <td style="width: 40%">
                                        <button class="btn btn-default"  type="button" (click)="deleteOption(i)">Delete</button>
                                        <button *ngIf="i == (optionsArray.length-1)" style="margin-left: 10px" class="btn btn-default" type="button" (click)="addOption()">Add</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <button (click)="submitOptions()">Submit</button>
                    <button (click)="closeModal()">Close</button>
                </jw-modal>


                

            



