<div class='previewheadercontainer'>
    <div class='previewsurveyheader'>
        <h4>{{currentSurvey.surveyName}}</h4>
    </div>
</div>
<p>{{currentSurvey.surveyDesc}}.</p>

<div *ngFor="let question of currentSurvey.surveyQuestions">
    <hr>
    <p>{{question.question}}</p>
    <div [ngSwitch]="question.questiontype">
        <div *ngSwitchCase="1">
            <div>
                <label>
                  <input type="radio" class="option-input radio" name="example"  />
                  <label class="option-text">Yes</label>
                </label>
                <br>
                <label>
                  <input type="radio" class="option-input radio" name="example" />
                  <label class="option-text">No</label>
                </label>
            </div>
        </div>
        <div *ngSwitchCase="2">
            <div *ngFor="let option of question.questionOptions">
                <label>
                    <input type="radio" class="option-input radio" name="example"  />
                    <label class="option-text">{{option.optionvalue}}</label>
                  </label>
            </div>
        </div>
        <div *ngSwitchCase="3">
            <div *ngFor="let option of question.questionOptions">
                <div>
                    <label>
                      <input type="checkbox" class="option-input checkbox"  />
                      <label class="option-text">{{option.optionvalue}}</label>
                    </label>
                  
            </div>
        </div>
        </div>
        <div *ngSwitchCase="4" class="form-group">
            <textarea class="form-control"></textarea>
        </div>
    </div>

</div>